.container{
    margin-top: 80px;
    display: flex;
    margin-bottom: 30px;
}
form{
    width: 1000px;
}
.buttons button:hover{
    scale: 1.2;
}

.cladogram-list{
    padding: 0px 80px;
    width: 100%;
}

.clade{
    border: 1px solid white;
}