<form [formGroup]="addSpeciesForm" (ngSubmit)="submit()">
    <label for="name">Name</label>
    <br/>
    <input id="name" formControlName="name" type="text"/>
    <br/>
    <br/>
    <label for="parentClade">Parent Clade</label>
    <br/>
    <input id="parentClade" formControlName="parentClade" type="text"/>
    <br/>
    <br/>
    <label for="description">Description</label>
    <br/>
    <input id="description" formControlName="description" type="text"/>
    <br/>
    <br/>
    <input type="submit" value="submit"/>
</form>