<div class="container">
    <div class="details">
        <form [formGroup]="addSpeciesForm" (ngSubmit)="submit()">
            <label for="binomialNomenclature">Scientific Name</label>
            <br/>
            <input id="binomialNomenclature" formControlName="binomialNomenclature" type="text"/>
            <br/>
            <br/>
            <label for="genus">Genus</label>
            <br/>
            <input id="genus" formControlName="genus" type="text"/>
            <br/>
            <br/>
            <input type="submit" value="submit"/>
        </form>
    </div>
</div> 