<style>
    canvas {
        display: inline-block;
        vertical-align: middle;
        background-color: rgb(165, 160, 135);
    }

    .canvas-contaier {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .cursor-default {
        cursor: default;
    }
</style>
<pt-floating-menu (changeSettings)="onSettingsChange($event)"></pt-floating-menu>
<div class="canvas-contaier">
    <canvas #canvas id="test-canvas" width="1920" height="1080"></canvas>
</div>
