<!-- <div class="cladogram-list">
    <h2 class="mb-4">Hard coded</h2>
    <div class="clade ps-5">
        <h2>Dinosauria</h2>
        <h2>
            <pt-render-line [type]="'vertical-line'"/>
            &nbsp;
        </h2>
        <h2>
            <pt-render-line [type]="'vertical-line-middle'"/>
            <div class="tiles-4"><label>Ornistichia</label></div>
            <pt-render-line [type]="'horizontal-line'" />
            <div class="last"><label>Triceratops Horridus</label></div>
        </h2>
        <h2>
            <pt-render-line [type]="'vertical-line'"/>
            &nbsp;
        </h2>
        <h2>
            <pt-render-line [type]="'vertical-line-end'"/>
            <div class="tiles-4"><label>Saurischia</label></div>
            <pt-render-line [type]="'vertical-line-bottom'"/>
            <div class="tiles-4"><label>Theropoda</label></div>
            <pt-render-line [type]="'vertical-line-bottom'"/>
            <div class="tiles-4"><label>Coleosauria</label></div>
            <pt-render-line [type]="'horizontal-line'"/>
            <div class="last"><label>Tyrannosaurus Rex</label></div>
        </h2>
        <h2>
            <pt-render-line [type]="'no-line'" [tiles]="5"/>
            <pt-render-line [type]="'vertical-line'"/>
            <pt-render-line [type]="'no-line'" [tiles]="4"/>
            <pt-render-line [type]="'vertical-line'"/>
            &nbsp;
        </h2>
        <h2>
            <pt-render-line [type]="'no-line'" [tiles]="5"/>
            <pt-render-line [type]="'vertical-line'"/>
            <pt-render-line [type]="'no-line'" [tiles]="4"/>
            <pt-render-line [type]="'vertical-line-end'"/>
            <div class="tiles-6"><label>Megalosauroidea</label></div>
            <pt-render-line [type]="'horizontal-line'"/>
            <div class="last"><label>Megalosaurus bucklandii</label></div>
        </h2>
        <h2>
            <pt-render-line [type]="'no-line'" [tiles]="5"/>
            <pt-render-line [type]="'vertical-line'"/>
            &nbsp;
        </h2>
        <h2>
            <pt-render-line [type]="'no-line'" [tiles]="5"/>
            <pt-render-line [type]="'vertical-line-end'"/>
            <div class=" tiles-6"><label>Sauropodomorpha</label></div>
            <pt-render-line [type]="'horizontal-line'"/>
            <div class="last"><label>Diplodocus Longus</label></div>
        </h2>
    </div>
</div> -->

<div class="cladogram-list">
    <!-- <h2 class="mb-4">Generated</h2> -->
    <h2 class="mb-4"></h2>
    <div class="clade ps-5" *ngFor="let line of family">
        <h2>
            <div *ngFor="let element of line">
                <div [ngSwitch]="element.type">
                    <div *ngSwitchCase="'line'">
                        <pt-render-line [type]="element.lineType" [tiles]="element.tiles"/>
                    </div>
                    <div *ngSwitchCase="'filler'">
                        <pt-render-line [type]="element.lineType" [tiles]="element.tiles"/>
                        &nbsp;
                    </div>
                    <div *ngSwitchCase="'content'">
                        <div class="{{element.labelClass}}"><label>{{element.content}}</label></div>
                    </div>
                    <div *ngSwitchDefault>???</div>
                </div>
            </div>
        </h2>
    </div>
</div> 



<!-- <div class="cladogram-list">
    <div ngbAccordion aria-expanded="true">
        <div ngbAccordionItem [collapsed]="false">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Dinosauria</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton><svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg> Ornithischia</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <div ngbAccordion >
                                        <div ngbAccordionItem [collapsed]="false">
                                            <h2 ngbAccordionHeader>
                                                <button ngbAccordionButton><svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg> Triceratops</button>
                                            </h2>
                                            <div ngbAccordionCollapse>
                                                <div ngbAccordionBody>
                                                    <svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg>  Horridus
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton><svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg> Saurischia</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <div ngbAccordion >
                                        <div ngbAccordionItem [collapsed]="false">
                                            <h2 ngbAccordionHeader>
                                                <button ngbAccordionButton><svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg> Theropoda</button>
                                            </h2>
                                            <div ngbAccordionCollapse>
                                                <div ngbAccordionBody>
                                                    <div ngbAccordion >
                                                        <div ngbAccordionItem [collapsed]="false">
                                                            <h2 ngbAccordionHeader>
                                                                <button ngbAccordionButton><svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg> Coleosauria</button>
                                                            </h2>
                                                            <div ngbAccordionCollapse>
                                                                <div ngbAccordionBody>
                                                                    <svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg>  Tyrannosaurus
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div ngbAccordion >
                                                        <div ngbAccordionItem [collapsed]="false">
                                                            <h2 ngbAccordionHeader>
                                                                <button ngbAccordionButton><svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg> Megalosauroidea</button>
                                                            </h2>
                                                            <div ngbAccordionCollapse>
                                                                <div ngbAccordionBody>
                                                                    <svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg>  Megalosaurus
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ngbAccordion >
                                        <div ngbAccordionItem [collapsed]="false">
                                            <h2 ngbAccordionHeader>
                                                <button ngbAccordionButton><svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg> Sauropodomorpha</button>
                                            </h2>
                                            <div ngbAccordionCollapse>
                                                <div ngbAccordionBody>
                                                    <div ngbAccordion >
                                                        <div ngbAccordionItem [collapsed]="false">
                                                            <h2 ngbAccordionHeader>
                                                                <button ngbAccordionButton><svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg> Diplodocus</button>
                                                            </h2>
                                                            <div ngbAccordionCollapse>
                                                                <div ngbAccordionBody>
                                                                    <svg viewBox="0 0 10 10" width="10"><polygon points="0,0 0,10 10,10 0,10 " style="stroke:white;stroke-width:2"/></svg>  Longus
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->