<style>
    .floating-menu {
        position: absolute;
        width: 500px;
        background-color: black;
        font-family: monospace;
    }

    .selectable {
        cursor: pointer;
    }

    .option-row {
        display: flex;
        flex-wrap: wrap;
        border-left: 5px solid none;
        padding-left: 10px;
        cursor: pointer;
        border-bottom: 1px solid white;
        user-select: none;
        border: 0;
        border-left: 5px solid transparent;
    }

    .option-row .label {
        width: 60%;
        line-height: 1.2;
        margin-right: 10px;
    }

    .option-row .input {
        display: flex;
        align-items: center;
    }

    .option-header {
        text-align: center;
        margin: 10px;
    }

    .option-row .comboBox {
        width: 35%;
    }

    .option-row .comboBox select {
        width: 100%;
        padding: 0px;
        height: 20px;
    }

    .option-row .comboBox select:focus {
        outline: none;
    }
</style>
<div class="floating-menu" id="options-menu">
    <div id="settings-content" *ngIf="showSettings">
        <div class="option-header">Tree Options</div>
        <div class="option-row" style="border-color: red">
            <div class="label">
                <label for="debug" class="selectable">Debug Mode</label>
            </div>
            <div class="input" (change)="onSettingChange(treeSettingsEnum.debugMode)">
                <input type="checkbox" name="debug" id="debug" [checked]="this.settings.debugMode" />
            </div>
        </div>
        <div class="option-row" style="border-color: green">
            <div class="label">
                <label for="clade" class="selectable">Starting Clade</label>
            </div>
            <div class="comboBox" (change)="onSettingChange(treeSettingsEnum.startingClade)">
                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>
        <div class="option-row" style="border-color: pink">
            <div class="label">
                <label for="animation" class="selectable">Disable Animations</label>
            </div>
            <div class="input" (change)="onSettingChange(treeSettingsEnum.disableAnimations)">
                <input type="checkbox" name="animation" id="animation" [checked]="this.settings.disableAnimations" />
            </div>
        </div>
    </div>
    <div id="setting-control" (click)="toggleMenu()">
        <p class="m-0 text-center selectable user-select-none">{{ showSettings ? 'Close' : 'Open' }} Settings</p>
    </div>
</div>
